/* src/App.css */

.home-page {
  text-align: center;
}

.home-banner {
  width: 100%; /* Adjust to your needs */
  max-width: 1900px; /* Limit the maximum width */
  height: 650px; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
}
